body {
  /*adding a background image*/
  background-color: rgb(33, 33, 33);
  color: rgb(190, 179, 165);
  font-size: 1vw;
}

.allSite {
  max-width: 1500px;
  margin: auto;
}

aside {
  margin-right: 5px;
  padding-left: 730px;
  resize: both;
}
.contant {
  float: left;
  padding-top: 70px;
}

hgroup {
  /*Take the photo to the center*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: solid 2px;
  margin-bottom: 0%;
  margin: 0;
  margin-bottom: 50px;
  color: rgb(23, 86, 150);
  border-color: lavenderblush;
}

hgroup > h1 {
  font-size: 60px;
}

p + h2 {
  font-size: 50px;
}

footer {
  padding-top: 50px;
  text-align: center;
  font-size: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(190, 179, 165);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
