body {
  /*adding a background image*/
  background-image: url("https://cdn.hipwallpaper.com/i/8/33/nmPgly.jpg");
  opacity: 88%;
  background-position: auto;
  padding: 5px;

}

/* responsible to all site frame*/
.allSite {
  max-width: 1800px;
  margin: auto;

  
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(190, 179, 165);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 114, 131);
}



/* marge the h1 and h2 to one group*/
header hgroup {
  /*Take the photo to the center*/
  border: rgb(33, 33, 33) solid 2px;
  line-height: 10px;
  background-color: rgb(33, 33, 33);
  text-align: center;  
  color: rgb(190, 179, 165);
  font-size: 1vw;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;

  
}

header hgroup h1 {
  font-size: 70px;
  letter-spacing: 30px;
  font-weight: bold;
  
}

header hgroup h2 {
  text-decoration: underline;
  text-decoration-color: rgb(171, 171, 204);
  font-size: 35px;

}

nav{
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(33, 33, 33);
  color: rgb(190, 179, 165);
  display: flex;
  border-radius: 20px;

}

cv{
  padding: 10px;
  display: flex;

}

.contant{
  padding-top: 10px;
}

aside {
  margin-right: 5px;
  float: right;
  resize: both;
  width: 51%;
  margin-bottom: 10px;
  /* did the in=mage in the center and making it float clearly */
  display: flex;
  flex-wrap: warp;
  justify-content: center;
  border-radius: 20px;

  
}

section{
  float: left; 
  width: 48%;
  height: 396px;
  margin-bottom: 10px;
  background-color: rgb(33, 33, 33);
  color: rgb(190, 179, 165);
  font-size: 135%;
  display: flex;
  border-radius: 20px;  
  
}



.contant artical h2 {
  font-size: 50px;
  margin-bottom: 0%;
  text-decoration: underline;
  text-decoration-color: rgb(171, 171, 204);
  font-family: 'Open Sans', sans-serif;
}


div footer links img{
  transition: all 1s;
}

div footer links img:hover{
  transform: scale(1.3);
}



footer {
  padding: 20px;
  text-align: center;
  font-size: 15px;
  margin-top: 36%;
  margin-bottom: 10px;
  background-color: rgb(33, 33, 33);
  color: rgb(190, 179, 165);
  border-radius: 20px;

}
div footer toTop{
  float: right;
}

div footer toTop img{
  transition: all 1s;
}

div footer toTop img:hover{
  transform: scale(1.3);
}

@media only screen and (max-width: 728px) {
  body{
    background-color: green;
  }
  aside{
      margin-top: 40px;
      height: 250px;
  }

  footer{
      margin-top: 50px;
  }
}