body {
  /*adding a background image*/
  background-color: rgb(33, 33, 33);
  color: rgb(190, 179, 165);
  font-size: 1vw;
}

.allSite {
  max-width: 1500px;
  margin: auto;
}

aside {
  margin-right: 5px;
  float: right;
  resize: both;
  width: 51%;
}
section{
  float: left;
  width: 48%;
  padding-top: 70px;
  height: 325px;
  border: solid blue;

}

hgroup {
  /*Take the photo to the center*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: solid 2px;
  margin-bottom: 0%;
  margin: 0;
  margin-bottom: 50px;
  color: rgb(23, 86, 150);
  border-color: lavenderblush;
}

header hgroup h1 {
  font-size: 60px;
}

.contant artical h2 {
  font-size: 50px;
}

footer {
  padding: 50px;
  text-align: center;
  font-size: 15px;
  margin-top: 30%;
  
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(190, 179, 165);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 114, 131);
}

footer toTop{
  padding-right: 100%;
}